body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url("https://cdn.pixabay.com/photo/2017/12/03/20/31/background-2995826_960_720.png");
}
.calculator {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
input[type="number"] {
  width: 100px;
  padding: 5px;
  margin-bottom: 10px;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

/*MainTitles and Footers */

.mainTitle {

  background-color: whitesmoke;
  font-size: xx-large;
  font-weight: bolder;
  font-style: italic;
  padding-top: 8px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px lightslategrey;
  color: black;
  box-shadow: 1px 1px 2px lightslategrey;

}

.mainFooter {

  background-color: whitesmoke;
  font-size: xx-small;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  color: darkslategray;
  box-shadow: 1px 1px 2px lightslategray;

}

h2 {

  padding-left: 1%;
  text-shadow: 1px 1px 2px gray;

}

h3 {
  
  padding-left: 1%;
  text-shadow: 1px 1px 1px gray;
  font-size: large;
  text-decoration: underline;

}

@media screen and (max-width: 812px) {

  h2 {

    text-align: center;

  }

}