/*--------------------------common-------------------------*/
header{
  background-color: lightsteelblue;
  font-size: x-large;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 5px;
  font-weight: bolder;
  text-shadow: 1px 1px black;
  color: ivory;
  border: black;
}

h2 {
  padding-left: 1%;
  text-shadow: 1px 1px 2px gray;
  font-size: x-large;

}

@media screen and (max-width: 812px) {
  h2 {
    text-align: center;
  }
}

h3 {
  padding-left: 1%;
  text-shadow: 1px 1px 2px gray;
  font-size: x-large;

}

.mainTitle{
  background-color: whitesmoke;
  font-size: xx-large;
  font-weight: bolder;
  font-style: italic;
  padding-top: 8px;
  padding-bottom: 5px;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 1px 1px 2px grey;
}

/* Style the links inside the navigation bar */
.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: darkslategray;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 812px) {
  .topnav a {
    float: none;
    display: block;
  }
}

/*-----------------outline1------------------------*/ 

#oultine1 {
  background-color: white;
  box-shadow: 1px 1px 4px 1px darkslategrey;
  font-size: large;
  max-width: 812px;
  text-align: center;
  vertical-align: middle;
 }

 @media screen and (max-width: 812px) {
  #oultine1 {
    align-content: center;
    display: block;
    width: 100%;
    text-align: center; /* If you want the text to be left-aligned on small screens */
  }
}

/*-----------------------------------------*/  
.slidecontainer {
  width: 100%;
  padding: 0% 0% 0% 0%;
}
    
.slider {
  -webkit-appearance: none;
  width: 99%;
  background: lightgray;
  outline: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
    
.slider:hover {
  opacity: 1;
}
    
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #3c89e0;
  cursor: pointer;
}
    
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #3c89e0;
  cursor: pointer;
}

/*--------------------------Slider 2-------------------------*/
    
    .slidecontainer2 {
      width: 100%;
      padding: 0% 0% 0% 0%;
    }
    
    .slider2 {
      -webkit-appearance: none;
      width: 99%;
      background: lightgray;
      outline: black;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    .slider2:hover {
      opacity: 1;
    }
    
    .slider2::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: #3c89e0;
      cursor: pointer;
    }
    
    .slider2::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: #3c89e0;
      cursor: pointer;
    }
    
    /*--------------------------Slider 3-------------------------*/
    
    .slidecontainer3 {
      width: 100%;
    }
    
    .slider3 {
      -webkit-appearance: none;
      width: 99%;
      height: 10px;
      background: lightgray;
      outline: black;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    .slider3:hover {
      opacity: 1;
    }
    
    .slider3::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background: #3c89e0;
      cursor: pointer;
    }
    
    .slider3::-moz-range-thumb {
      width: 15px;
      height: 20px;
      background: #3c89e0;
      cursor: grab;
    }
    
    /*--------------------------Slider 4-------------------------*/
    
    .slidecontainer4 {
      width: 100%;
      padding: 0% 0% 0% 0%;
    }
    
    .slider4 {
      -webkit-appearance: none;
      width: 99%;
      height: 10px;
      background: lightgray;
      outline: black;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    .slider4:hover {
      opacity: 1;
    }
    
    .slider4::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: #3c89e0;
      cursor: pointer;
    }
    
    .slider4::-moz-range-thumb {
      width: 15px;
      height: 20px;
      background: #3c89e0;
      cursor: pointer;
    }
    
  
    
  hr {
      color: lightsteelblue;
      width:100%;
  
  }
    
  body {
      background-color: #97d9f8, #3c89e0;
      font-family: sans-serif;
      padding: 1% 1% 1% 1%;
     }
     
    
    #oultine2 {
      border:darkblue solid thin;
      border-radius: 2px;
      background-color:ghostwhite;
      box-shadow: 2px 2px 5px gray;
     }
    
    #values2 {
      text-align: center;
      font-size: large;
      width: 100%;
      padding: 0% 0% 0% 0%;
    
    }
    
    #oultine3 {
      border:darkblue solid thin;
      border-radius: 2px;
      background-color:ghostwhite;
      box-shadow: 2px 2px 5px gray;
     }
    
    #values3 {
      text-align: center;
      font-size: large;
      width: 100%;
      padding: 0% 0% 0% 0%;
    
    }

    #oultine4 {
      border:darkblue solid thin;
      border-radius: 2px;
      background-color:ghostwhite;
      box-shadow: 2px 2px 5px gray;
     }
    
    #values4 {
      text-align: center;
      font-size: large;
      width: 100%;
      padding: 0% 0% 0% 0%;
    
    }
