body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  min-height: 100vh; /* Ensure body takes up at least the height of the viewport */
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally within container */
  padding: 20px;
}

.calculator {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin-bottom: 20px; /* Add some space between calculators */
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group select {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-calculate {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-calculate:hover {
  background-color: #0056b3;
}

.resultFlow {
  margin-top: 20px;
  font-weight: bold;
}

.resultTon {
  margin-top: 20px;
  font-weight: bold;
}


.mainTitle {

  background-color: whitesmoke;
  font-size: xx-large;
  font-weight: bolder;
  font-style: italic;
  padding-top: 8px;
  padding-bottom: 5px;
  color: black;

}