/*--------------------------common-------------------------*/
header{
    background-color: lightsteelblue;
    font-size: x-large;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: ivory;
    border: black;
  }
  
  h2 {
    padding-left: 1%;
    text-shadow: 1px 1px 2px gray;
  }
  
  @media screen and (max-width: 812px) {
    h2 {
      text-align: center;
    }
  }
  
  h3 {
    padding-left: 1%;
    text-shadow: 1px 1px 2px gray;
    font-size: x-large;
  
  }
  
  .mainTitle{
    background-color: whitesmoke;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    padding-top: 8px;
    padding-bottom: 5px;
    text-shadow: 1px 1px 1px grey;
    color: darkslategray;
  }
  
  .mainFooter{
    background-color: whitesmoke;
    font-size: xx-small;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 1px 1px 1px grey;
    color: darkslategray;
    box-shadow: 1px 1px 3px darkslategrey;
  }
  
  body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd2v9y0dukr6mq2.cloudfront.net%2Fvideo%2Fthumbnail%2FitCjTBE%2Flight-green-bright-abstract-squares-tech-background-seamless-loop-design-video-animation-hd-1920x1080_41vy-tjhl__F0007.png&f=1&nofb=1");
    font-family: sans-serif;
    padding: 1% 1% 1% 1%;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 1px 1px 2px grey;
  }
  
  /* Style the links inside the navigation bar */
  .topnav {
    overflow: hidden;
    background-color: black;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: darkslategray;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 812px) {
    .topnav a {
      float: none;
      display: block;
    }
  }
  
  /*-----------------outline1------------------------*/ 
  
  #oultine1 {
    background-color: white;
    box-shadow: 1px 1px 3px darkslategrey;
    font-size: large;
    max-width: 812px;
    text-align: center;
    vertical-align: middle;
   }
  
   @media screen and (max-width: 812px) {
    #oultine1 {
      align-content: center;
      display: block;
      width: 100%;
      text-align: center; /* If you want the text to be left-aligned on small screens */
    }
  }